.chat-root {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #f6f6fe;
  }
  .header {
    position: sticky;
    top: 0;
    padding: 2px;
    z-index: 1;
  }
  .content {
    flex: 1;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 7px;
    overflow: hidden;
    padding: 5px;
    background-color: #f6f6fe;
    margin-bottom: 4%;
    max-height: calc(80%);
  }
  .card {
    background-color: #fdfdfd;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
    padding: 2px;
    /* width: calc((100% - 35px) / 4); */
    width: calc((107% ) / 4);
    overflow-y: auto;
    height: 100%;
    border-radius: 10px;
  }
  .card.agent-card.clicked {
      border: 1px solid rgb(79, 79, 198);
    }
  .card.member-card.clicked {
    border: 1px solid rgb(79, 79, 198);
  }
  .card-content {
    max-height: calc(100%);
    overflow-y: auto;
    padding: 3% 0% 2% 3%;
    height: 100%;
  }
  
  .card-content-header {
    display: flex;
    width: 100%; 
  }
  
  .agent-header {
    display: flex;
    align-items: center;
  }
  
  .empty-space {
    width: 0.2rem;
  }
  
  .card-header-collapse {
    width: 100%;
    text-align: end;
  }
  ::-webkit-scrollbar {
    width: 4px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #00000033;
    border-radius: 10px;
  }
  .agent-card {
    position: relative;
    overflow-y:hidden;
  }
  .member-card {
      margin-left: -2.8%;
      position: sticky;
      overflow-y:hidden;
    }
  .member-chat{
      max-height: calc(100%) !important;
      overflow: hidden;
  }
  .input-wrapper {
      position: sticky;
      height: 20%;
      bottom: 0;
      background-color: #f2f2f2;
      padding: 10px;
      z-index: 1;
      /* margin: 0px 10px 0px 10px; */
      padding-bottom:2px;
      border-radius: 5px;
    }
  .input-wrapper.clicked {
      border: 1px solid rgb(79, 79, 198);
  }
  .communication-card {
      margin-left:10px;
      width: calc((83%) / 4);
  }
  .detail-card {
      margin-right: 10px;
      width: calc((93%) / 4);
  }
  .other-cards::-webkit-scrollbar {
    width: 0px;
  }
  .other-cards::-webkit-scrollbar-thumb {
    background-color: #00000033;
    border-radius: 0px;
  }
  
  .MuiAccordionSummary-gutters.MuiAccordionSummary-root.MuiButtonBase-root{
      min-height: 0px;
      height: 34px;
  }
  
  .member-form-group {
      position: relative;  
      height: 200px;
      width: 400px;
    }
    
  .member-input {
      height: 200px;
      width: 400px;
    }
    .icon-user {
      position: absolute;
      background: red;
      width: 16px;
      height: 16px;
      left: 6px;
      bottom: 0px;
      float:left;
    }
    .icon-d {
      position: absolute;
      background: green;
      width: 16px;
      height: 16px;
      margin-left:50px;
      bottom: 0px;
      float:left;
    }
    .icon-as {
      position: absolute;
      background: blue;
      width: 16px;
      height: 16px;
      bottom: 0px;
      right: 0px;
      float:right;
    }
  
    .communication-search-input {
      background-color: #f2f2f2;
      border: none;
      border-radius: 20px;
      padding: 10px;
      margin-bottom: 10px;
      width: 90%;
      font-size: 12px;
      font-family: 'Inter-Regular';
      outline: none;
    }
    .member_profile {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      object-fit: cover;
      float: left;
    }
  
  .chat-root .MuiCardActions-root{
    padding: 0px !important;
  }
  .chat-root .MuiCardHeader-root {
    padding: 0px !important;
  }
  .chat-root .MuiCardContent-root{
    padding: 0px !important;
  }
  .tabImages {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    object-fit: cover;
  }
  .mainDiv {
      overflow-y: scroll;
      position: relative;
      display: flex;
      flex-direction: column;
      bottom: 0;
      height: calc(100% + 0px);
      padding: 0px;
  }
  .secondDiv {
    height: 80%;
  }
  
  .member-chat .MuiCollapse-root{
    height: 100% !important;
  
  }
  .member-chat .MuiCollapse-wrapper {
    height: 100% !important;
  }
  .member-chat .MuiCollapse-wrapperInner.MuiCollapse-vertical{
    height: 100% !important;
  }
  